@font-face {
    font-family: "corpo";
    src: url("fonte/NewTegomin-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#2E7D32;
}
 .title{
     color :#ffff;
     position: relative;
     left:38%;
     top:1em;
     font-family: "corpo",cursive;
     width: 50%;
 }
.sequencia{
    border: 0px solid;
    float:left;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 4em;
    color: #ffff;
    font-family: "corpo",cursive;
}
#fila2,#fila3,#resultado{
    clear: both;
}
#principal{
    position: relative;
    left:35% ;
    top:7em;
    width: 50%;
}
.linhaesquerda{
    border-right: 6px solid;
    border-bottom: 6px solid;
}
.linhadireita{
    border-left: 6px solid;
    border-bottom: 6px solid;
}
.linhae{
    border-right: 6px solid;
}
.linhad{
    border-left: 6px solid;
}
.linhaembaixo{
    border-bottom: 6px solid;

}
#result{
    color: #ffff;
    position: relative;
    top:1em;
    left: 2em;
    font-family: "corpo",cursive;
}

@media screen and (max-device-width: 510px) {
	#principal {
		width: 84%;
        left: 2.5em;
	}
    .title{
        width: 65%;
    left: 2em;
    }
    #result{
        left: 0;
        top:3em;
    }
}

    
